* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #000000c0;
    padding: 20px 0 10px 20px;    
}

ul {
    list-style-type: none;    
}

nav {
    margin: 0 100px;    
}

.navbar-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;    
}